<div id="advisor_nav_bar">
  <nav>
    <ul>
      <%= link_to 'Open Projects', advisor_researches_path %><br />
      <%= link_to 'Active Projects', advisor_researches_path %><br />
      <%= link_to 'Closed Projects', advisor_researches_path %><br />
      <%= link_to 'Create New Project', new_advisor_research_path %><br />
    </ul>
  </nav>
</div>
